.container{
    padding: 120px 20px 0 20px;
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.row_reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 30%;
    left: 65%;
    background-color: rgba(15, 15, 15, 0.5);
    height: 350px;
    width: 400px;
    padding: 20px;
    letter-spacing: 1px;
}

.text{
    font-size: 18px;
    color: aliceblue;
}

.slide_container{
    width: 70%;
    height: auto;
}

.img{
    display: block;
    width: 100%;
    user-select: none;
}

.small_img{
    display: block;
    width: 60%;
}


/* 自定义 slick-dots 的样式 */
.slick_dots
{
    position: absolute;
    bottom: 5px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick_dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick_dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick_dots li button:hover,
.slick_dots li button:focus
{
    outline: none;
}
.slick_dots li button:hover:before,
.slick_dots li button:focus:before
{
    opacity: 1;
}
.slick_dots li button:before
{
    font-family: 'slick';
    font-size: 8px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick_dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}