
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    background-color: #212121
  }

.bottom{
    padding-bottom: 10px;
    width: 100%;
    font-size: 12px;
    text-align: center;
}