.navBar {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* 渐变 */
    transition: background-color 0.5s ease;
}

@media screen and (max-width: 600px){
    .navBar{
        display: none;
    }

    .navBar_phone{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .title_phone{
        opacity: 0.8;
        padding-left: 20px;
        font-size: 28px;
    }
    .icon{
        opacity: 0.8;
        padding-right: 20px;
    }
}

@media screen and (min-width: 601px){
    .navBar_phone{
        display: none;
    }
}

.navBar:hover {
    background-color: #212121;
}

.center {
    /* margin: 0 auto; */
    flex: 1;
    text-align: center;
    user-select: none;

}

.left_content {
    display: flex;
    position: absolute;
    left: 0;
    align-items: center;
    gap: 2rem;
    margin-left: 2.5rem;
}

.right_content {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-right: 2.5rem;
}

.title_text {
    font-size: 2rem;
}

.label_text {
    font-size: 1.2rem;
}

.left_text {
    cursor: pointer;
    color: aliceblue;
    user-select: none;
}

.custom_link {
    color: aliceblue;
    /* 链接的文本颜色 */
    text-decoration: none;
    /* 移除下划线 */
    /* 添加更多样式 */
}

.custom_link:hover {
    text-decoration: underline;
    /* 鼠标悬停时添加下划线 */
    /* 添加更多悬停状态的样式 */
}

.sidebar {
    padding-top: 10px;
    width: 12rem;
    z-index: 2000;
    background-color: rgba(15, 15, 15, 0.5);
    animation: sideBarDropDown 0.5s ease forwards;
}

.sidebar_phone{
    width: 10rem;
    list-style-type: none;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.4);
    animation: sideBarDropDown_phone 0.5s ease forwards;
}

.sidebarItem_phone{
    animation: fadeIn_phone 0.5s ease forwards;
    animation-delay: var(--fade-delay);
    opacity: 0;
    padding: 10px;
    text-align: left;
    font-size: 20px;
    padding: 10px;
}

.sidebarItem {
    /* 动画部分 */
    animation: fadeIn 0.5s ease forwards;
    animation-delay: var(--fade-delay);
    opacity: 0;

    /* 其他格式 */
    padding: 10px;
    text-align: left;
    font-size: 18px;
}

@keyframes sideBarDropDown {
    from {
        height: 0;
    }

    to {
        height: 200px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn_phone{
    from {
        opacity: 0;
        transform: translateX(30px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes sideBarDropDown_phone {
    from {
        height: 0;
    }

    to {
        height: 250px;
    }
}

.searchBar {
    border-radius: 4px;
    border: 0;
    /* margin-left: 10px; */
    background-color: rgba(240, 248, 255, 1);
    transition: all 0.5s ease;
    width: var(--searchBar-width);
    height: 20px;
    opacity: var(--searchBar-opacity);
    padding: var(--searchBar-padding);
}

.searchBar:focus {
    outline: 2px solid grey;
}