.img_container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    margin: 15px;
}

.image {
    transition: all 0.5s ease;
    width: 100%;
    height: 100%;
}

.image:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.image_title{
    padding: 20px 0 0 40px;
    color: aliceblue;
    font-size: 20px;
}

.image_info{
    padding: 20px 0 0 40px;
    color: aliceblue;
    font-size: 14px;
}

.img_container::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 1px;
    height: 150px;
    background-color: aliceblue;
}

.title{
    display: block;
    padding-top: 100px;
    /* padding-left: 10px; */
    text-align: center;
    font-size: 30px;
}
.galleryContainer {
    padding: 0 15px 0 15px;
    display: flex;
    flex-direction: row;
}

.galleryContainer2 {
    justify-content: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
}

.bg{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3000;
}

.detail_img{
    display: block;
    width: 650px;
    height: auto;
    user-select: none;
}