.container{
    padding-top: 140px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.row{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.head_img{
    width: 600px;
    opacity: 0;
    animation: fadeIn 2s ease forwards;

}

.title{
    opacity: 0;
    padding-bottom: 40px;
    font-size: 3rem;
    animation: fadeInWithMove 0.5s ease forwards;

}

.subtitle{
    padding: 60px 0 60px 100px;
    font-size: 2rem;
    animation: fadeInWithMoveFromLeft 1s ease forwards;
    opacity: 0;
}

.subtitle2{
    padding: 60px 0 0 100px;
    font-size: 2rem;
}

.head_text{
    padding-left: 40px;
    max-width: 400px;
    letter-spacing: 1px;
    font-size: 1.1rem;
}

.head_intro{
    opacity: 0;
    animation: fadeInWithMove 1s ease forwards;
    animation-delay: 400ms;
}

.img{
    /* display: block; */
    width: 100%;
    /* margin: 0 10px 0 10px; */
}

.slide_container{
    width: 1200px;
    height: auto;
    /* overflow: hidden; */
    /* border-radius: 1rem; */
}

.intro{
    padding: 0 0 40px 140px;
}

.board{
    width: 65vw;
    padding-bottom: 40px;
}

.board_cn{
    width: 65vw;
}


.flow{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0 120px 100px;
}

.unit{
    min-width: 120px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.icon{
    width: 80px;
}

.icon_need_down{
    width: 80px;
    transform: translateY(24px);
}

.money{
    width: 80px;
    transform: translateY(12px);
}

.icon_text{
    display: block;
    padding-top: 10px;
}

.arrow{
    width: 40px;
    padding: 0 15px 0 15px;
}


/* carousel */
.slick_dots
{
    position: absolute;
    bottom: 5px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick_dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick_dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick_dots li button:hover,
.slick_dots li button:focus
{
    outline: none;
}
.slick_dots li button:hover:before,
.slick_dots li button:focus:before
{
    opacity: 1;
}
.slick_dots li button:before
{
    font-family: 'slick';
    font-size: 8px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick_dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInWithMove {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInWithMoveFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* mobile */
@media screen and (max-width: 600px){
    .head_text{
        display: none;
    }
    .container{
        padding-top: 0;
    }
    .head_img{
        display: none;
    }
    .head_img_phone{
        width: 100%;
        object-fit: cover;
        object-position: center;
        animation: fadeIn 2s ease forwards;

        /* aspect-ratio: 10/9; */
    }
    .title_phone{
        position: absolute;
        opacity: 0;
        top: 50%;
        font-size: 2rem;
        animation: fadeInWithMove 0.5s ease forwards;

    }
    .down_arrow{
        position: absolute;
        opacity: 0;
        bottom: 10px;
        animation: fadeInWithMove 1s ease forwards,bounce 1.5s infinite ease-in-out;
        animation-delay: 600ms;    
    }
    .subtitle{
        font-size: 1.4rem;
        padding: 30px 0 30px 40px;
    }
    .subtitle_phone{
        font-size: 1.4rem;
        padding: 30px 0 0px 40px;
        margin: 1rem 0 0 0;
    }
    .slide_container{
        display: none;
    }
    .img_box{
        box-sizing: border-box;
        padding: 0 1rem;
    }
    .img{
        object-fit: cover;
        object-position: center;
        aspect-ratio: 960/960;
    }
    .subtitle2{
        display: none;
    }
    .intro{
        display: none;
    }
    .flow{
        display: none;
    }
    .flow_phone{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 40px 0;
        margin-bottom: 40px;
    }
    .flow_phone + .flow_phone{
        margin: 0;
    }
    .unit{
        min-width: 60px;
        height: 60px;
    }
    .icon{
        width: 25px;
    }
    .icon_text{
        font-size: 0.7rem;
        padding-top: 10px;
    }
    .money{
        width: 25px;
        transform: translateY(6px);
    }
    .icon_need_down{
        width: 25px;
        transform: translateY(12px);
    }
    .arrow{
        width: 20px;
        padding: 0;
    }
    .intro_phone{
        /* text-indent: 1.4rem; */
        font-size: 0.7rem;
        padding: 0 20px 0 40px;
    }
    .board{
        display: none;
    }
    .board_cn{
        display: none;
    }
    .board_mobile{
        width: 70vw;
        transform: translateX(-5vw);
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .board_mobile2{
        width: 70vw;
        transform: translateX(5vw);
        padding-bottom: 10px;
    }
}

/* pc */
@media screen and (min-width: 601px){
    .slider_container{
        display: none;
    }
    .head_img_phone{
        display: none;
    }
    .title_phone{
        display: none;
    }
    .down_arrow{
        display: none;
    }
    .flow_phone{
        display: none;
    }
    .subtitle_phone{
        display: none;
    }
    .intro_phone{
        display: none;
    }
    .board_mobile{
        display: none;
    }
    .board_mobile2{
        display: none;
    }
}

@keyframes bounce{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}